
.part1 { grid-area: header; }
.part2 { grid-area: menu; }
.part3 { grid-area: main; }
.part4 { grid-area: right; }
.part5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'right right right right right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
h1{
  font-size: 65px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
